<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<th:block layout:fragment="header">
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">코무지 파충류샵</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
            </div>
        </div>
    </header>
</th:block>

<div layout:fragment="content">
    <div class="container">
        <span th:text="${session.memberDTO?.email}"> USER_ID </span>
    </div>
</div>

<!--<th:block layout:fragment="script">-->
<!--    <script>-->
<!--        const update = () => {-->
<!--            location.href = "/member/update";-->
<!--        }-->
<!--        const logout = () => {-->
<!--            location.href = "/member/logout";-->
<!--       }-->
<!--    </script>-->
<!--</th:block>-->


</html>



