<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<div layout:fragment="content">
    <form action="/member/join" method="post">
        <input type="text" name="email" placeholder="이메일" id="email">
        <input type="text" name="user_password" placeholder="비밀번호">
        <input type="text" name="user_name" placeholder="이름">
        <input type="text" name="age" placeholder="나이">
        <input type="text" name="mobile" placeholder="전화번호">
        <input type="submit" value="회원가입">
    </form>
</div>