<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="script">
    <script>
        const update = () => {
            location.href = "/member/update";
        }
        const logout = () => {
            location.href = "/member/logout";
       }
    </script>
</th:block>

<div layout:fragment="content">
    <form action="/member/login" method="post">
        <input type="text" name="email" placeholder="이메일">
        <input type="text" name="user_password" placeholder="비밀번호">
        <input type="submit" value="로그인">
    </form>
</div>

</html>



