<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QA">
    <select id="pagingList" resultType="qa">
        SELECT qa.*, member.user_name as writer_name FROM qa_list qa
        LEFT JOIN member_info member
        ON qa.writer_id = member.id
        WHERE
        1=1
        <include refid="search"/>
        ORDER BY qa.id desc
        LIMIT #{start}, #{limit}
    </select>
    <select id="pagingCount" resultType="int">
        SELECT count(*) FROM qa_list qa
        LEFT JOIN member_info member
        ON qa.writer_id = member.id
        WHERE
        1=1
        <include refid="search"/>
    </select>

    <insert id="write" parameterType="qa">
        insert into qa_list (category,title,content,writer_id,secret_flag,reg_date)
        values(#{category},#{title},#{content},#{writer_id},#{secret_flag},#{reg_date})
    </insert>

    <select id="findById" parameterType="Long" resultType="qa">
        SELECT qa.*, member.user_name as writer_name FROM qa_list qa
        LEFT JOIN member_info member
        ON qa.writer_id = member.id
        WHERE qa.id = #{id}
    </select>

    <update id="updateHit" parameterType="Long">
        update qa_list set hit=hit+1 where id= #{id}
    </update>

    <!-- 게시글 검색 -->
    <sql id="search">
        <!-- 검색 키워드가 있을 때 -->
        <if test="SearchDTO.keyword1 != null and SearchDTO.keyword1 != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="SearchDTO.searchType1 != null and SearchDTO.searchType1 != ''">
                    <choose>
                        <when test="SearchDTO.searchType1 == 'title'">
                            AND title LIKE CONCAT('%', #{SearchDTO.keyword1}, '%')
                        </when>
                        <when test="SearchDTO.searchType1 == 'writer_id'">
                            AND writer_id = #{SearchDTO.keyword1}
                        </when>
                    </choose>
                </when>

                <!--                &lt;!&ndash; 전체 검색일 때 &ndash;&gt;-->
                <!--                <otherwise>-->
                <!--                    AND (-->
                <!--                    title LIKE CONCAT('%', #{keyword}, '%')-->
                <!--                    OR content LIKE CONCAT('%', #{keyword}, '%')-->
                <!--                    OR writer LIKE CONCAT('%', #{keyword}, '%')-->
                <!--                    )-->
                <!--                </otherwise>-->
            </choose>
        </if>
    </sql>
</mapper>